{% set service = aek.create_service("https://www.waikato.ac.nz/news-events/rss.xml") %}

{{ service.set_namespace("") }}
{{ service.set_method("GET") }}
{{ service.set_header("Content-Type", "application/xml") }}

{{ aek.respond(service.raw_response) }}